@{
    ViewData["Title"] = "Home";
}



<section class=" h-screen w-[100vw] flex items-center justify-center relative">
    <div class="top-0 bottom-0 h-[100%] w-[100%] bg-cover bg-center absolute" style="background-image: url('@Url.Content("~/images/freelance.jpg")');"></div>

    <div class="relative z-10 text-center text-white">
        <h1 class="text-5xl font-bold mb-4">Get Lost While Tracking the Work?</h1>
        <p class="text-xl mb-8">Let us manage clients, handle invoicing all for you in one place.</p>
        <a  class="bg-[] text-white py-3 px-6 rounded-lg shadow-lg hover:bg-opacity-90 transition duration-300" asp-action="index" asp-controller="client">
            Get Started
        </a>
    </div>
</section>

<!-- Features Section -->
