<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrackMyWork</title>
    <link rel="stylesheet" href="~/css/output.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary w-100" style="height:4rem;">
            <div class="container-fluid d-flex justify-content-between w-100 text-primary">
                <a class="navbar-brand">
                    <img src="https://png.pngtree.com/png-clipart/20190604/original/pngtree-business-logo-design-png-image_915991.jpg" alt="" class="" style="height:2rem; width:1rem;" />
                </a>
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-end" id="collapseNavbar">
                    <ul class="navbar-nav text-uppercase">
                        <li class="nav-item ">
                            <a class="nav-link active text-white" aria-current="page" asp-action="index" aria-current="page" asp-controller="home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="index" asp-controller="user">User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  " href="#">Client</a>
                        </li>
                        <li class="nav-item text-[red]">
                            <a class="nav-link text-[red]" href="#">Project</a>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container p-2">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TrackMyWork - Sahitya Neupane - 200568451 - Georgian College Project - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none text-decoration-underline-hover">Privacy</a>
        </div>
    </footer>

    <!-- Load jQuery first, then Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
