<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrackMyWork</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/output.css">
 

</head>
<body>
    <header>
        <nav class="relative md:p-0 md:w-auto">
            <a asp-action="home" asp-controller="index">
                <img src="https://png.pngtree.com/png-vector/20211023/ourmid/pngtree-salon-logo-png-image_4004444.png" alt="Logo" class="w-[5rem] fixed top-[2%] left-[2%] h-[5rem] border-2 border-ColorWhite z-[50] rounded-full p-2">

            </a>


            <div class="fixed top-[2%] right-[2%] border-2 border-ColorWhite rounded-full p-2 text-ColorWhite z-[50] flex items-center justify-center h-[3rem] w-[3rem] cursor-pointer" id="hamBurger">
                <span class="material-symbols-outlined">menu</span>
            </div>

            <div class="fixed top-0 right-0 w-[250px] h-full bg-ColorBlack transform translate-x-full transition-transform duration-300 ease-in-out z-[50] overflow-hidden" id="navMenu">
                <div class="flex justify-end p-4">
                    <div class="border-2 border-2 border-ColorWhite rounded-full p-2 text-ColorWhite z-[50] flex items-center justify-center h-[3rem] w-[3rem] cursor-pointer" id="closeNav">
                        <span class="material-symbols-outlined">close</span>
                    </div>
                </div>
                <ul class="flex flex-col items-center gap-y-4 font-semibold uppercase text-ColorWhite">
                    <li class="hover:underline">
                        <a asp-controller="home" asp-action="index">Home</a>
                    </li>
                    <li class="hover:underline">
                        <a asp-action="index" asp-controller="client">Clients</a>
                    </li>
                    <li class="hover:underline">
                        <a asp-action="index" asp-controller="project">Project</a>
                    </li>
                    <li class="hover:underline">
                        <a href="/TimeTracking">Time Tracking</a>
                    </li>
                    <li class="hover:underline">
                        <a href="/Invoices">Invoices</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

        <main role="main" class="w-[100vw] h-[100vh]">
            @RenderBody()
        </main>


    <footer class="bg-Primary p-[2rem] w-[100vw]">
        <div class="text-center ">
            &copy; 2024 - TrackMyWork - Sahitya Neupane - 200568451 - Georgian College Project - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none text-decoration-underline-hover">Privacy</a>
        </div>
    </footer>

    <!-- Load jQuery first, then Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
