<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrackMyWork</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link href="https://fonts.googleapis.com/css2?family=Delius&family=DynaPuff:wght@400..700&family=Handlee&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/output.css">
    <link rel="stylesheet" href="~/css/styles.css">


</head>
<body class="overflow-x-hidden">
    <header>
        <nav class="relative md:p-0 md:w-auto">
            <div class="z-[50] fixed right-0 top-0 hidden h-[100vh] w-[100vw] bg-ColorBlack bg-opacity-50" id="overlay"></div>
            <a asp-action="index" asp-controller="home">
                <img src="https://png.pngtree.com/png-vector/20211023/ourmid/pngtree-salon-logo-png-image_4004444.png" alt="Logo" class="border-2 z-[50] fixed left-[2%] top-[2%] h-[5rem] w-[5rem] rounded-full border-ColorWhite p-2">

            </a>


            <div class="border-2 z-[50] fixed right-[2%] top-[2%] flex h-[3rem] w-[3rem] cursor-pointer items-center justify-center rounded-full border-Secondary p-2 text-Primary" id="hamBurger">
                <span class="material-symbols-outlined">menu</span>
            </div>

            <div class="z-[50] fixed right-0 top-0 h-full w-[250px] translate-x-full transform overflow-hidden bg-ColorBlack transition-transform duration-300 ease-in-out" id="navMenu">
                <div class="flex justify-end p-4">
                    <div class="border-2 z-[50] flex h-[3rem] w-[3rem] cursor-pointer items-center justify-center rounded-full border-ColorWhite p-2 text-ColorWhite" id="closeNav">
                        <span class="material-symbols-outlined">close</span>
                    </div>
                </div>
                <ul class="px-[30px] text-left font-semibold uppercase text-ColorWhite">
                    <li class="border-b-2 durtion-50 my-[20px] w-[100%] border-solid border-Primary p-2 ease-in hover:bg-Secondary hover:bg-opacity-30">
                        <a asp-controller="home" asp-action="index">
                            @if(User.Identity.IsAuthenticated){
                                <span>
                                    Dashboard

                                </span>

                            }
                            else
                            {
                               <span>Home</span>
                            }

                        </a>
                    </li>
                    <!--Showing the below item only after it is authenticated-->
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li class="border-b-2 durtion-50 my-[20px] w-[100%] border-solid border-Primary p-2 ease-in hover:bg-Secondary hover:bg-opacity-30">
                            <a asp-action="index" asp-controller="client">Clients</a>
                        </li>
                        <li class="border-b-2 durtion-50 my-[20px] w-[100%] border-solid border-Primary p-2 ease-in hover:bg-Secondary hover:bg-opacity-30">
                            <a asp-action="index" asp-controller="project">My Projects</a>
                        </li>
                        <li class="border-b-2 durtion-50 my-[20px] w-[100%] border-solid border-Primary p-2 ease-in hover:bg-Secondary hover:bg-opacity-30">
                            <a href="/TimeTracking">Time Tracking</a>
                        </li>
                        <li class="border-b-2 durtion-50 my-[20px] w-[100%] border-solid border-Primary p-2 ease-in hover:bg-Secondary hover:bg-opacity-30">
                            <a href="/Invoices">Invoices</a>
                        </li>
                       
                       
                       }
                   
                    <partial name="_LoginPartial" class="border-b-2 border-solid p-2" />
                </ul>
            </div>
        </nav>
    </header>

        <main role="main" class="min-h-[100vh]">
            @RenderBody()
        </main>


    <footer class="w-[100vw] bg-Primary p-[2rem]">
        <div class="text-center">
            &copy; 2024 - TrackMyWork - Sahitya Neupane - 200568451 - Georgian College Project - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none text-decoration-underline-hover">Privacy</a>
        </div>
    </footer>

    <!-- Load jQuery first, then Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
