<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrackMyWork</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/output.css">
 

</head>
<body>
    <header>
        <nav class="bg-primary p-4 w-[100vw]">
            <div class="container mx-auto flex justify-between items-center">
                <!-- Logo/Image -->
                <div class="flex items-center">
                    <img src="https://png.pngtree.com/png-vector/20211023/ourmid/pngtree-salon-logo-png-image_4004444.png" alt="Logo" class="h-10 w-10 mr-3 ">
                    
                </div>

                <ul class="flex items-center gap-x-4 font-semibold uppercase text-ColorBlack font-semibold hover:underline">
                    
                        <li>
                        <a  asp-controller="home" asp-action="index" class="">
                            Home
                        </a>
                        
                        </li>
                  <li>
                        <a   asp-action="index" asp-controller="client"> Clients </a>
                  </li>

                    <li>
                        <a href="/Projects" class="text-gray-300 hover:text-white">Projects</a>

                   </li>
                   <li>
                        <a href="/TimeTracking" class="text-gray-300 hover:text-white">Time Tracking</a>
                   </li>
                   <li>
                        <a href="/Invoices" class="text-gray-300 hover:text-white">Invoices</a>

</li>
                   
                
                </ul>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-primary p-[2rem]">
        <div class="text-center ">
            &copy; 2024 - TrackMyWork - Sahitya Neupane - 200568451 - Georgian College Project - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none text-decoration-underline-hover">Privacy</a>
        </div>
    </footer>

    <!-- Load jQuery first, then Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
