@tailwind base;
@tailwind components;
@tailwind utilities;



/*Let's use a root color for the application so we can access the full control of color from here  
    Read here: (https://tailwindcss.com/docs/customizing-colors)*/
@layer base {
    :root {
        --color-primary: 255 215 196;
        --color-secondary: 255 215 196;
        --color-third: 255 244 181;
        --text-color-white: 255 255 255;
        --text-color-black: 0 0 0;
        /* ... */
    }
}