@model TrackMyWork.Models.Project

@{
    ViewData["Title"] = "Create Project";
}

<h2 class="text-2xl font-extrabold text-center my-4">Create New Project</h2>
<div class="h-[80vh]">
<div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md border-primary border-2 ">
        <form asp-action="Create" asp-controller="Project" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
        <div class="mb-4">
            <label asp-for="Title" class="block text-sm font-medium "></label>
            <input asp-for="Title" class="mt-1 block w-full border rounded-md p-2" required />
        </div>

        <div class="mb-4">
            <label asp-for="Description" class="block text-sm font-medium "></label>
            <textarea asp-for="Description" class="mt-1 block w-full border  rounded-md p-2" required></textarea>
        </div>

        <div class="mb-4">
            <label asp-for="ClientId" class="block text-sm font-medium text-gray-700"></label>
            <select asp-for="ClientId" class="mt-1 block w-full border border-gray-300 rounded-md p-2" required>
                <option value="">Select Client</option>
                 @foreach (var client in ViewBag.Clients)
                 {
                     <option value="@client.ClientId">@client.FirstName @client.LastName</option>
                 }
            </select>
        </div>

        <div class="mb-4">
            <label asp-for="StartDate" class="block text-sm font-medium "></label>
            <input asp-for="StartDate" type="date" class="mt-1 block w-full  rounded-md p-2" required />
            <span asp-validation-for="StartDate" class="text-[red] text-sm"></span>
        </div>

        <div class="mb-4">
            <label asp-for="DaysToComplete" class="block text-sm font-medium "></label>
            <input asp-for="DaysToComplete" type="number" class="mt-1 block w-full  rounded-md p-2" placeholder="Choose 1-60" required />
        </div>

        <div class="mb-4">
            <label asp-for="Urgency" class="block text-sm font-medium"></label>
            <select asp-for="Urgency" class="mt-1 block w-full border  rounded-md p-2" required>
                <option value="">Select Urgency</option>
                <option value="1">High</option>
                <option value="2">Medium</option>
                <option value="3">Low</option>
            </select>
        </div>

        <div class="flex justify-between">
            <input type="submit" value="Create" class=" bg-Secondary font-bold border-2 rounded-[5px] py-2 cursor-pointer px-6">
                <a asp-action="Index" class="font-bold border-2 rounded-[5px] py-2 cursor-pointer px-6 bg-[red]">Cancel</a>
        </div>
    </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
