@model IEnumerable<TrackMyWork.Models.Project>

@{
    ViewData["Title"] = "Projects";
}

<h2 class="text-3xl font-bold text-center mb-6">My Project</h2>

<div class="container mx-auto px-4 h-[80vh]">
    <div class="flex justify-end mb-4">
        <a asp-action="Create" class="text-ColorBlack px-4 py-2 rounded-md shadow hover:bg-Secondary transition hover\:text-ColorWhite duration-300">
            Add New Project
        </a>
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
            <thead>
                <tr class="bg-gray-800 text-white text-left">
                    <th class="py-3 px-4">Project Name</th>
                    <th class="py-3 px-4">Description</th>
                    <th class="py-3 px-4">Start Date</th>
                    <th class="py-3 px-4">Actions</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                @foreach (var project in Model)
                {
                    <tr class=" transition duration-200">
                        <td class="py-3 px-4 border-b">@Html.DisplayFor(modelItem => project.Title)</td>
                        <td class="py-3 px-4 border-b">@Html.DisplayFor(modelItem => project.Description)</td>

                        <td class="py-3 px-4 border-b">
                            <a href="@Url.Action("Edit", "Project", new { id = project.ProjectId })" class="bg-[green] border-2 border-ColorBlack text-ColorWhite p-2 text-sm hover:bg-ColorBlack hover:border-[green] rounded-[5px] uppercase shadow-sm">Edit</a>
                            <form action="@Url.Action("Delete", "Project", new { id = project.ProjectId })" method="post" class="inline">
                                <input type="hidden" name="_method" value="DELETE" />
                                <button type="submit" class="bg-[red] border-2 border-ColorBlack text-ColorWhite p-2 text-sm hover:bg-ColorBlack hover:border-[red] rounded-[5px] uppercase shadow-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
